@import url('https://fonts.googleapis.com/css?family=Cuprum|Open+Sans&display=swap&subset=cyrillic');

body {
    font-family: 'Cuprum', sans-serif;
    font-size: 20px;
    color: #333;
    margin:0;
    padding:0;
    line-height: 1.5;
    background-image: url(~@/assets/images/background.jpg);
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.layout {
    max-width: 860px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}


.nav__link {
}

.title{
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
}



a{
    color: #0076cc;
    &:visited{
        color: #004273;
    }
}

.logo {
    display: inline-block;
    margin-top: 15px;
    .title{
        font-size: 2.3rem;
        a {
            text-decoration: none;
        }
        span.minutka{
            font-family: Serif;
            font-size: 1.15em;
        }
    }
    .working{
        font-size: 85%;
    }
    .russia{
        margin: 6px 0 -6px;
    }
    .phone{
        font-size: 1.6rem;
        a {
            color: #000;
            text-decoration: none;
        }
    }
    .hotline{
        font-size: 1.1rem;
        margin: 6px 0 -6px;
    }
    .vk {
        img {
            height: 30px;
            widht: 30px;
            vertical-align: middle;
        }
        a {
            text-decoration: none;
        }
        span{
            margin-left: 4px;
        }
    }
}

h1, h2, h3, h4 {
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
}
h1 {
    font-size: 1.5em;
}
h2 {
    font-size: 1.3em;
}

div.white-bg {
    background: rgba(255,255,255,.3);
    margin: 0 -.5rem;
    padding: .5rem;
    border-radius: 15px;
    color: #111;
}

div.opacity-bg {
    margin: 0 -1rem;
    padding: .5rem 1rem;
}

.ymap-container{
    height: 600px;
    left: 0;
    position: absolute;
    right: 0;
}

